Introduction

TBC


Import statement

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [3]:
accidents_df = pd.read_csv('ny_accidents.csv')

Preview the first rows

In [4]:
accidents_df.head()

,Unnamed: 0,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance.mi.,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,237351,A-2953957,2,2020-12-03 20:52:00,2020-12-03 22:17:27,43.119443,-75.293198,43.120291,-75.293547,0.061,...,False,False,False,False,False,False,Night,Night,Night,Night
1,237362,A-2953968,2,2020-09-25 23:19:55,2020-09-25 23:41:46,40.834883,-73.866244,40.833773,-73.863254,0.174,...,False,False,False,False,False,False,Night,Night,Night,Night
2,237365,A-2953971,2,2020-10-15 12:17:30,2020-10-16 03:44:00,40.802117,-73.916498,40.804907,-73.911238,0.336,...,False,False,True,False,False,False,Day,Day,Day,Day
3,237402,A-2954008,2,2020-10-03 02:58:56,2020-10-03 04:40:33,43.073669,-78.990615,43.075229,-78.990615,0.108,...,False,False,False,False,False,False,Night,Night,Night,Night
4,237423,A-2954030,2,2020-09-17 13:19:55,2020-09-17 15:24:11,41.308840,-74.025331,41.307460,-74.027961,0.167,...,False,False,False,False,False,False,Day,Day,Day,Day

In [5]:
accidents_df.shape

(39537, 48)

In [10]:
accidents_df.isnull().sum()

Unnamed: 0                   0
ID                           0
Severity                     0
Start_Time                   0
End_Time                     0
Start_Lat                    0
Start_Lng                    0
End_Lat                      0
End_Lng                      0
Distance.mi.                 0
Description                  0
Number                   27692
Street                       0
Side                         0
City                         8
County                       0
State                        0
Zipcode                      0
Country                      0
Timezone                     0
Airport_Code                66
Weather_Timestamp          312
Temperature.F.             390
Wind_Chill.F.             1463
Humidity...                400
Pressure.in.               375
Visibility.mi.             406
Wind_Direction             939
Wind_Speed.mph.           1188
Precipitation.in.         1943
Weather_Condition          343
Amenity                      0
Bump                         0
Crossing                     0
Give_Way                     0
Junction                     0
No_Exit                      0
Railway                      0
Roundabout                   0
Station                      0
Stop                         0
Traffic_Calming              0
Traffic_Signal               0
Turning_Loop                 0
Sunrise_Sunset               8
Civil_Twilight               8
Nautical_Twilight            8
Astronomical_Twilight        8
dtype: int64

In [11]:
accidents_df.isnull().sum().sum()

35557

In [14]:
accidents_df.isnull().values.any()

True

In [6]:
accidents_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39537 entries, 0 to 39536
Data columns (total 48 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             39537 non-null  int64
 1   ID                     39537 non-null  object
 2   Severity               39537 non-null  int64
 3   Start_Time             39537 non-null  object
 4   End_Time               39537 non-null  object
 5   Start_Lat              39537 non-null  float64
 6   Start_Lng              39537 non-null  float64
 7   End_Lat                39537 non-null  float64
 8   End_Lng                39537 non-null  float64
 9   Distance.mi.           39537 non-null  float64
 10  Description            39537 non-null  object
 11  Number                 11845 non-null  float64
 12  Street                 39537 non-null  object
 13  Side                   39537 non-null  object
 14  City                   39529 non-null  object
 15  County                 39537 non-null  object
 16  State                  39537 non-null  object
 17  Zipcode                39537 non-null  object
 18  Country                39537 non-null  object
 19  Timezone               39537 non-null  object
 20  Airport_Code           39471 non-null  object
 21  Weather_Timestamp      39225 non-null  object
 22  Temperature.F.         39147 non-null  float64
 23  Wind_Chill.F.          38074 non-null  float64
 24  Humidity...            39137 non-null  float64
 25  Pressure.in.           39162 non-null  float64
 26  Visibility.mi.         39131 non-null  float64
 27  Wind_Direction         38598 non-null  object
 28  Wind_Speed.mph.        38349 non-null  float64
 29  Precipitation.in.      37594 non-null  float64
 30  Weather_Condition      39194 non-null  object
 31  Amenity                39537 non-null  bool
 32  Bump                   39537 non-null  bool
 33  Crossing               39537 non-null  bool
 34  Give_Way               39537 non-null  bool
 35  Junction               39537 non-null  bool
 36  No_Exit                39537 non-null  bool
 37  Railway                39537 non-null  bool
 38  Roundabout             39537 non-null  bool
 39  Station                39537 non-null  bool
 40  Stop                   39537 non-null  bool
 41  Traffic_Calming        39537 non-null  bool
 42  Traffic_Signal         39537 non-null  bool
 43  Turning_Loop           39537 non-null  bool
 44  Sunrise_Sunset         39529 non-null  object
 45  Civil_Twilight         39529 non-null  object
 46  Nautical_Twilight      39529 non-null  object
 47  Astronomical_Twilight  39529 non-null  object
dtypes: bool(13), float64(13), int64(2), object(20)
memory usage: 11.0+ MB